.main-slides{
	width: 259px;
	margin: 0 auto;
}
.text-content{
	overflow: hidden;
}

h1{
	position: relative;
	font-size: 30px;
	z-index: 3;
	font-weight: bold;
}

.cover-heading span{
	display: block;
	clear: both;
	padding-top: 10px;
}

.download-links a{
	display: inline-block;
	text-indent: -9999px;
	margin: 20px 10px;
	vertical-align: middle;
}

.download-links .dl-google{
	background: url('../img/google-play.png') no-repeat;
	width: 172px;
	height: 60px;
}

.download-links .dl-amazon{
	background: url('../img/amazon-appstore.png') no-repeat;
	width: 192px;
	height: 66px;
}

.info-block{
	text-align: left;
	width: 100%;	
	padding: 10px;
	margin: 10px auto;
	min-height: 104px;
}

.info-block p{
	margin: 0;
}

.info-block div{
	overflow: hidden;
}

.info-block img{
	display: block;
	margin: 0 auto;
	width: 84px;
	height: 84px;
}

.long-text{
	text-align: left;
}
/*Cover template overrides*/
.mastfoot{
	position: relative;
}

.masthead{
	background: #222;
	z-index: 2;
}

.masthead .inner{
	padding-top: 10px;
	padding-bottom: 0;
}

nav{
	z-index: 100;
}

.masthead, .mastfoot, .cover-container{
	width: 100%;
}

@media (min-width: 360px){
	.info-block{
		background-color: #222;
	}

	.info-block img{
		float: left;
		margin-right: 10px;
	}
}

@media (min-width: 768px){
	h1{
		margin: 15px 30% 0;
	}

	.main-content{
		margin: 0 5%;
	}

	.long-text{
		margin: 0 15%;
	}

	.main-slides{
		z-index: 1;
		float: left;
		margin: 1% 5%;
	}

	.info-block{
		width: 85%;
	}

	/*Desktop cover template overrides*/
	.masthead .inner{
		padding-top: 1px;
	}
}
